<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="main">
        <div class="logo"></div>
        <div class="banner"> WWWW.BOMBABOMBA.COM</div>
        <div class="menu">
            <ul>
                <li><a href="">Ana Sayfa</a></li>
                <li><a href="">Hakkımızda</a></li>
                <li><a href="">Çalışmalarımız</a></li>
                <li><a href="">İletişim</a></li>
            </ul>
        </div>
        <div class="social">
            <a href="https://github.com/mucahitkurtlar" target="_blank"><div class="github"></div></a>
            <a href="https://www.instagram.com/mucahit_kurtlar/" target="_blank"><div class="instagram"></div></a>
            <a href="https://www.youtube.com/channel/UCJd_sHyyZxaxKA2AtR82Qjg?view_as=subscriber" target="_blank"><div class="youtube"></div></a>
        </div>
        <div class="box-one"></div>
        <div class="box-two"></div>
        <div class="box-three"></div>
        <div class="box-four"></div>
        <div class="bottom"></div>
    </div>
</body>
</html>
